body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-header {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  padding: 10px 20px;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.search-input {
  border: none;
  padding: 10px;
  width: 400px;
  height: 20px;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
}

.search-button {
  border: none;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.search-button:hover {
  background-color: #45a049;
}
